/* For information on how to implement Bootstrap and how to apply your own custom CSS, visit: https://getbootstrap.com/docs/5.3/getting-started/introduction/  */
/* Custom CSS */
body {
	background-color: #f5f6fa;
}

body .container {
	background-color: #fff;
	margin-top: 5em;
	border: solid #dcdde1 thin;
	padding: 2.5em;
}
#addCreatureForm label, #addCreatureForm button {
	font-size: 1.2em;
	margin-top: 1em;
}
#addCreatureForm button {
	margin-bottom: 1em;
}
#addCreatureForm input {
	padding: 1.5em;
}
ul li {
	padding: .6em;
	font-size: 1em;
	font-style: italic;
}

#beast-image {
	max-width: 200px;
	max-height: 200px;
	object-fit: contain;
	border-radius: 10px;
}

#creatureSanctuary {
	display: flex;
	flex-wrap: wrap;

}

.beast-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	background: linear-gradient(135deg, #f0f8ff, #d1e8ff);
	border-radius: 15px;
	max-width: 400px;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	margin: 15px;
	transition: transform 0.2s, box-shadow 0.2s;
}

.beast-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.beast-image {
	max-width: 200px;
	max-height: 200px;
	border-radius: 10px;
	object-fit: cover;
	margin-bottom: 10px;
}

.beast-name {
	color: #2c3e50;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 2px;

}

.beast-label {
	color: #7f8c8d;
	font-weight: 600;
	font-size: 14px;
}

.beast-value {
	color: #0066ff;
	margin-bottom: 2px;
	font-size: 20px;
}

.beast-note-label {
	color: #7f8c8d;
	margin-bottom: 2px;
	font-weight: 600;
	font-size: 14px;
}

.beast-note{
	color: #6440ff;
	font-size: 16px;
}

.beast-remove-button {
	margin-top: 10px;
	width: 120px;
	font-weight: bold;
}
