/* General Page Styles */
body {
	background: #0984e3;	
	font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div {
	width: 50%;
	background: #dfe6e9;
	padding: 2em;
	border-radius: 15px;
}
h1 {
	font-size: 2em;
	text-align: center;
}

/* Magic 8-Ball Form Styles */
div.magicBall{
	width: 60%;
	margin: 1em auto;
	padding: 3em;
}
input[type="text"] {
	width: 70%;
	padding: 1.2em;
	font-size: 1.2em;
	border: solid 1px #636e72;
	border-radius: 2%;
	background: #fff;
	color: #2d3436;
}


div.fortuneCookie {
	display: flex;           /* enable flex layout */
	flex-direction: column;  /* stack items vertically */
	align-items: center;     /* center horizontally */
	text-align: center;
}


button {
	border-radius: 1%;
	border: solid thin #00b894;
	background: #55efc4;
	font-size: 1.2em;
	padding: 1.2em;
	font-weight: bold;
	color: #2d3436;
	width: 20%;
}

#fortuneButton{
	border-radius: 15px;
	border: solid thin #ffbf00;
	background: #ffbf00;
	font-size: 1.2em;
	font-weight: bold;
	color: #2d3436;
	width: 20%;
}

#fortuneButton:hover{
	background: #ffd160;

}

button:hover {
	background: #00b894;
}

p {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}